/* You can add global styles to this file, and also import other style files */
li > a {
  cursor: pointer;
}

li , span {
  cursor: pointer;
}

button {
  cursor: pointer;
}

*{
  font-family: 'Curmudgeonly', sans-serif !important;
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

button, img {
  animation: shake 1s infinite; /* 1s de durée, infinie */
}

